@charset "utf-8";

@import url(../../../../../../../fonts.jimstatic.com/css@family=Ubuntu%253A400.css);

body {}

body, p, table, td
{
    font:normal 14px/140% Ubuntu, sans-serif;
    color:#000000;
}

input, textarea
{
    font:normal 14px/140% Ubuntu, sans-serif;
}

h1
{
    font:normal normal bold 30px/140% Ubuntu, sans-serif;
    color:#333333;
    
}

h2
{
    font:normal normal bold 16px/140% Ubuntu, sans-serif;
    color:#333333;
    
}

h3
{
    font:normal normal bold 14px/140% Ubuntu, sans-serif;
    color:#333333;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#62AFFF;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #62AFFF;
}

div.hr
{
    border-bottom-style:dashed;
    border-bottom-width:1px; /* fix */
    border-color: #CCCCCC;
    height: 1px;
}
